.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.product-images {
    width: 100%;
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: .325s;
}

::-webkit-scrollbar-track
{

	border-radius: 10px;
	background-color: #333232;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #333232;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #555;
}

.product-images:hover{
    filter: contrast(200%);
    transform: scale(1.025);
    transition: .325s;
    border-radius: 10px;
}

.product-title {
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    text-shadow: 1px 1px 10px #fff;
}

.cat{
    width: 300px;
    text-align: center;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #36454F;
    border-radius: 10px 10px 0 0;
}

.custom-col {
    max-width: 100%;
    text-align: -webkit-right;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.product-form-control {
    display: block;
    width: 50%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pagination-lg {
    font-weight: bold;
}

.product-price {
    color: #EE4B2B;
    font-weight: 900;
    width: 150px;
    background-color: #36454F;
    font-size: 25px;
    text-align: center;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #EE4B2B;
}

.card-text{
    width: 100%;
    height: 180px;
    font-family: 'Ubuntu';
    font-size: 18px;
    overflow: auto;
    color: #fff;
    font-weight: 900;
    padding-right: 10px;
    text-align: justify;
}
.toast-message {
    font-size: 18px;
}
.card-title{
    color: #fff;
    text-shadow: 1px 1px 5px #fff;
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 23px;
}

.auto{
    text-align: center;
    font-style: italic;
}

.card{
    border-radius: 20px;
    background-color: #36454F;
    height:100%;
}


body html
{
    background-color: #555;
    font-family: 'Ubuntu';
}



.inner-col{
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 20px;
    margin: auto;
    text-align: center;
    width: 300px;
    display: block;
    background-color: #25343e;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #fff;
}

.modBtn{
    width: 20vw;
    background-color: #fff;
    color: #16161d ;
    font-weight: 600;
    margin-top: 30px;
    border: 1px solid #16161d;
}

.modBtn:hover{
    background-color: #16161d;
    color: #fff;
    border: 1px solid #fff;
}

.date{
    width: 150px;
    background-color: #36454F;
    padding-top: 10px;
    color: #fff;
    padding-bottom: 10px;
    height: 42px;
    border-radius: 0 0 5px 5px;
    font-family: 'Ubuntu';
    margin: auto;
    border: 1px solid #fff;
    font-weight: 600;
}


.saladNavbar{
    background-color: #151b27 !important;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 65%) !important;
}

#navbarDropdown{
    color: #fff;
}

.nav-link{
    color: #fff !important;
    font-size: 25px;
    font-family: 'Ubuntu';
    transition: .325s;
}

.nav-link:hover{
    text-shadow: 1px 1px 10px #fff;
    transition: .325s;
}

.numberNav{
    width: max-content;
    margin: auto;
    margin-top: 30px;
}


.page-item.disabled .page-link{
    background-color: #16161d;
    color: #fff;
}

.page-item.disabled:hover .page-link:hover{
    background-color: #fff;
    color: #16161d;
}

.page-item.active .page-link{
    background-color: #36454F;
    border-color: #fff !important;
}

.page-link{
    background-color: #16161d ;
    color: #fff;
    border: #fff 1px solid;
}

.page-link:hover{
    color: #16161d;
}

.sImg{
    width: 100px;
    transition: .325s;
}

.sImg:hover{
    transform: scale(1.075);
    transition: .325s;
}


.saladContainer{
    margin: auto;
    width: 1600px;
}

@media (max-width: 1700px)
{
    .saladContainer{
       width: 1400px;
    }
}

@media (max-width: 1450px){
    .saladContainer{
        width: 1200px;
    }
}

@media (max-width: 1250px){
    .saladContainer{
        width: 95%;
    }
}


@media (max-width: 991px)
{
    .saladContainer{
        width: 95%
    }
}

@media (max-width: 330px)
{
    .inner-col{
        margin: 0px;
        width: 80vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .cat{
        text-align: center;
        width: 80vw;
    }
    .col{
        width: max-content;
        margin: 0;
    }
}

.navbar-toggle-icon{
    color: #000;
    background-color: #000;
}

.card-header{
    border-bottom: 1px solid #fff;
}

.card-header, .email, .passW, .form-check-label, .Name, .passConf, .password, .email2{
    color: #fff !important;
}

.email3{
    color: #fff;
}

.forgotPass{
    border: 1px solid #fff;
    color: #fff;
}

.forgotPass:hover{
    color: #fff;
    text-shadow: 1px 1px 10px #fff;
}

.loginBtn, .register, .passRLink{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

.loginBtn:hover, .register:hover, .passRLink:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.register, .passRLink{
    width: 100%;
}

.Create{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.Create:hover{
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.form-control{
    background-color: #50575c;
    color: #fff;
    text-align: center;
}

.form-control::placeholder{
    color: #fff;
}

.form1{
    color: #fff;
}

.err1{
    color: #EE4B2B;
    text-align: center;
    font-family: 'Ubuntu';
    font-size: 20px;
}

.ul1{
    margin: 0px;
}

.alertCss{
    background-color: #fff !important;
    color: #000 !important;
}

.banners{
    margin: auto;
    display: flex;
    width: max-content;
}

.banner{
    background-color: #36454F;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.bannerName{
    border-bottom: 1px solid #fff;
    padding: 15px 0 15px 0;
    color: #fff;
    font-size: 19px;
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
}

.Blanka{
    width: 100%;
    margin-top: 20%;
}

.verifyBtn{
    border: 1px solid #fff !important; 
    background-color: #000 !important;
    color: #fff !important;
    width: max-content !important;
    padding-left: 20px !important;
    padding-right: 20px !important; 
    margin: auto;
    display: block;
}

.verifyBtn:hover{
    border: 1px solid #000 !important;
    color: #000 !important;
    background-color: #fff !important;
    text-decoration: none;
}

.ic{
    color: #fff;
}

.updBtn{
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.updBtn:hover{
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000 !important;
}

.errorLi{
    color: #EE4B2B !important;
    font-size: 19px;
    text-align: center;
}

ul{
    padding: 0 !important;
    width: 100% !important;
}

.bannerCaption{
    margin: auto;
    display: block;
    font-size: 25px;
    color: #fff;
    width: max-content;
    padding: 25px;
    background-color: #36454F;
    border-radius: 10px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 10px #fff;
}